.bd-example{
padding: 0rem;
margin-right: 0;
margin-left: 0;
border-width: .2rem;
position: relative;
    
}

.bd-example::after {
    display: block;
    clear: both;
    content: "";
}

body{
background-color: wheat;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: #212529;
text-align: left;

}

.row{
    width: 855px;

    position: sticky;
    
    
}

li{
     padding-right: 100px;
}

p{
    width: 975px;
    
}

.scrollspy-example-2{
    margin-top: 20px;
    position: absolute;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
color: #f8f9fa;
background-color: #007bff;
position: sticky;
}

.nav-pills .nav-link.active {
    background: 0 0;
    border: 0;
    border-radius: .25rem;
    }

#navbar-example2{
    position: sticky;
}

#hmm{
    background-color: #7fcdcd;
    width: 270px;
    
}

#test {
    position: sticky;
    top: 10px;
    bottom: 50px;
    
}

#test2{
    padding-left: 50px;
    margin-top: auto;
    position: sticky; 
    top: 50px;
    bottom: 50px;
}
#test2:hover{
    background-color: #007bff;
    color: white;
}

#test100{
    
}

#test3{ 
    padding-left: 50px;
    margin-top: auto;
    position: sticky; 
    top: 90px;
    bottom: 90px;
}
#test3:hover{
    background-color: #007bff;
    color: white;
}

#test4{
    padding-left: 50px;
    margin-top: auto;
    position: sticky; 
    top: 130px;
    bottom: 130px;
}
#test4:hover{
    background-color: #007bff;
    color: white;
}

#test5{ 
    padding-left: 50px;
    margin-top: auto;
    position: sticky; 
    top: 170px;
    bottom: 170px;
}
#test5:hover{
    background-color: #007bff;
    color: white;
}

#test6{ 
    padding-left: 50px;
    margin-top: auto;
    position: sticky; 
    top: 290px;
    bottom: 185px;
}
#test6:hover{
    background-color: #007bff;
    color: white;
}

#test7{
    padding-left: 50px;
    margin-top: auto;
    position: sticky; 
    top: 330px;
}
#test7:hover{
    background-color: #007bff;
    color: white;
}

#test8{ 
    padding-left: 50px;
    margin-top: auto;
    position: sticky; 
    top: 370px;
    color:#007bff;
}
#test8:hover{
    background-color: #007bff;
    color: white;
}

#testidk{
    position:sticky;
    background-color: #7fcdcd;
    color: #7fcdcd;
    padding-left: 90px;
    padding-right: 40px;
}

#photo{
    margin-top: 50px; 
    
    margin-bottom: 50px;
    margin-right: 50px;
}

#test20{
    padding-left: 50px;
    margin-top: auto;
    position: sticky; 
    top: 210px;
    bottom: 210px;
}
#test20:hover{
    background-color: #007bff;
    color: white;
}

hr{
    border: 2px solid;
}

#tema{
    padding-right: 1500px;
    border-bottom: 5px solid;
}

#profil{
    padding-right: 1483.5px;
}

#test30{
    padding-left: 50px;
    margin-top: auto;
    position: sticky; 
    top: 250px;
    bottom: 230px;
}
#test30:hover{
    background-color: #007bff;
    color: white;
}

#batas{
    margin-top: 0px;
}

#downpage{
    padding-right: 1500px;
    margin-top: -20px;
    background-color: #5867dd;
}

#ppage{
    color: #fff;
}

#luthfi{
    margin-left: 100px;
}

#daniel{
    margin-left: 100px;
}

#derren{
    margin-left: 100px;
}

#adit{
    margin-left: 100px;
}


